<% layout("/layouts/boilerplate") %>
<div class="col-8 offset-2">
    <h3>Merchant T&C</h3>
        <p>This document is an electronic record in terms of the Information Technology Act, 2000 and
        rules there under as applicable and the amended provisions pertaining to electronic records in
        various statutes as amended by the Information Technology Act, 2000. This document is
        published in accordance with the provisions of Rule 3 (1) of the Information Technology
        (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations,
        privacy policy and Merchant T&C (as defined below) for access or usage of
        www.HomelyBites.com website and 'HOMELY BITES' application for mobile and handheld devices.</p>
        <p>Any Capitalized terms used but not defined herein shall have the meaning assigned to them
            under the (i) the services agreement executed between Homely Bites and the Merchant and (ii)
            Terms of Use, as amended from time to time which govern your use of our website
            www.HomelyBites.com (the “Website”) and our ‘Homely Bites’ application for mobile and handheld
            devices (the “App”).
            You wish to avail the Platform Services enabled by Homely Bites on a non-exclusive and
            contractual basis subject to the terms and conditions set out hereinafter.
            Merchant and Homely Bites are referred individually as ‘Party’ and collectively as ‘Parties’,
            wherever the context so requires.
        </p>
        <p>1. These terms are called the “Merchant T&C” and these Merchant T&C read together with
            Terms of Use and the agreements executed between the Parties shall govern your use
            of Platform. In the event of any inconsistency between the documents/agreements, the terms
            of the agreement will prevail over these Merchant T&C, which will prevail over the Terms of
            Use. Please read these Merchant T&C carefully before you use the Platform Services. If you
            do not agree to these Merchant T&C, you must not use the Platform Services, and we request
            you to uninstall the App. By installing, downloading or even merely using the Platform, you
            shall be contracting with Swiggy and you signify your acceptance to this Merchant Terms,
            Terms of Use and other Swiggy policies (including but not limited to the Privacy Policy
            being incorporated by reference herein) which take effect on the date on which you
            download, install or use the Platform Services, and create legally binding arrangements to
            abide by the same.</p>
        <p>2. These Merchant T&C along with the services agreement or any other agreement signed
            between the Parties shall constitute the entire agreement between the Parties in relation to the
            Platform Services.</p>
        <p>3. The Platform is owned and operated by Swiggy Limited, a company incorporated under the
            laws of India and having its registered office at No.55, Sy.no. 8-14, I & J Block, Ground
            Floor, Embassy Tech Village, Outer Ring Road, Devarabisanahalli, Bangalore - 560103,
            India. For the purpose of these Merchant Terms, wherever the context so requires “you” or
            “user” shall mean any natural or legal person who has agreed to become a merchant on the
            Platform by providing registration data during the registration/ onboarding on the Platform as
            a registered partner using the computer systems. The term “Swiggy”, “we”, “us” or “our”
            shall mean Swiggy Limited.</p>
        <p>4. Swiggy enables transactions between the buyers (“Buyers”) and participant merchants
            dealing in selling of FMCG, consumer goods, grocery, electronics etc.. The Buyers who visit
            the Platform can choose and place orders (“Orders”) from variety of products made available
            for sale by various merchants like you (“Merchant/s”) on the Platform.</p>
        <p>5. These Merchant T&C are subject to modifications, and we reserve the right to modify or
            change the Merchant T&C and other Swiggy policies at any time by posting changes on the
            Platform and we may intimate you of the changes . Swiggy might choose to communicate
            such modifications in a separate email and any other form of communication to you for your
            ready reference. However, Merchant shall, at all times, be responsible for regularly reviewing
            the Merchant T&C and other Swiggy policies and note the changes made on the Platform,
            including but not limited to this page. Your continued use of the Platform and the Platform
            Services after any change is posted or shared with you, confirms your acceptance of the
            amended Merchant T&C and other Swiggy policies.
        </p>
</div>